<?xml version="1.0" encoding="utf-8"?>

<launch>
	<include file="$(find usb_cam)/launch/usb_cam-test.launch" />
    <include file="$(find ar_sys)/launch/single_board.launch" />
	<node name="rm_aruco_cv_node" pkg="rm_aruco_cv" type="rm_aruco_cv_node.py" />
	<node name="aimbot_node" pkg="aimbot" type="aimbot_node.py" />
	<node name="trapezoid_node" pkg="trapezoid" type="trapezoid_node.py" />
</launch>

